body{
    background-color: lightblue;
}
.header{
    background-color: black;
    width: 100%;
    height: 100px;
    padding-top: 45px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
}

.header .logo{
    float: left;
    width: 25%;
    height: 70px;
}

.header .logo img{
    width: 100%;
}

.header .name{
    float: left;
    width: 75%;
    height: 100px;

}

.header .name h1{
   margin-right: 17%;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:underline;
}

.block {
    position: relative;
    width: 100%;
    height: 306px;
}

.block .image{
    float: left;
    width: 25%;
    height: 306px;
    border: 10px black;
}
.block .image img{
    width: 100%;
    height: 306px;
}

.block .info{
    float: left;
    width: 25%;
    height: 306px;
    background-color: darkslategray;
}

.block .list{
    float: left;
    width: 25%;
    height: 306px;
    background-color: lightgray;
}

.block .externlink{
    float: left;
    width: 25%;
    height: 306px;
    background-color: lightgray;
}

li{
    font-size: 20px;
    height: 80px;
    text-align: center;
}

a{
    text-align: center;
    color: black;
    font-size: 20px;
    width: 80%;
    margin-left: 10%;
    height: 60px;
    background-color: gray;
    border-radius: 10px;
    margin-top: 125px;
    display: inline-block;
    line-height: 60px;
}

a:hover{
    text-decoration: none;
}


