.header{
    background-color: darkslategrey;
    width: 100%;
    height: 100px;
    padding-top: 45px;
}

.header h1{
    text-align: center;
    color: white;
    font-size: 30px;
}

.block {
    position: relative;
    width: 100%;
    height: 500px;
}

.block .image{
    float: left;
    width: 25%;
    height: 500px;
    border: 10px black;
}
.block .image img{
    width: 100%;
}

.block .info{
    float: left;
    width: 25%;
    height: 500px;
}

.block .list{
    float: left;
    width: 25%;
    height: 500px;
    padding-top: 125px;
}

.block .externlink{
    float: left;
    width: 25%;
    height: 500px;
    padding-top: 125px;
}

li{
    font-size: 20px;
    height: 80px;
    text-align: center;
}

a{
    text-align: center;
    color: black;
    font-size: 20px;
}

